src/main/resources/schemas/radm/radm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://nrg.wustl.edu/radm" xmlns:nihSS="http://nrg.wustl.edu/radm" xmlns:xdat="http://nrg.wustl.edu/xdat" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xnat="http://nrg.wustl.edu/xnat" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://nrg.wustl.edu/xnat" schemaLocation="../xnat/xnat.xsd"/>
	<xs:element name="Radiomics" type="radm:radiomics"/>
	
    <xs:complexType name="radiomics">
    	<xs:complexContent>
			<xs:extension base="xnat:imageAssessorData">
				<xs:sequence>
					<xs:element name="firstorder">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="energyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Energy is a measure of the magnitude of voxel values in an image. A larger values implies a greater sum of the squares of these values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="totalEnergyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Total Energy is the value of Energy feature scaled by the volume of the voxel in cubic mm. Not present in IBSI feature definitions.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="entropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Entropy specifies the uncertainty/randomness in the image values. It measures the average amount of information required to encode the image values. Defined by IBSI as Intensity Histogram Entropy.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="minimumFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="tenPercentileFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="ninetyPercentileFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="maximumFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>The maximum gray level intensity within the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="meanFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>The average gray level intensity within the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="medianFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>The median gray level intensity within the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="interquartileRangeFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="rangeFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>The range of gray values in the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="meanAbsoluteDeviationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Mean Absolute Deviation is the mean distance of all intensity values from the Mean Value of the image array.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="robustMeanAbsoluteDeviationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Robust Mean Absolute Deviation is the mean distance of all intensity values from the Mean Value calculated on the subset of image array with gray levels in between, or equal to the 10th and 90th percentile.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="rootMeanSquaredFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RMS is the square-root of the mean of all the squared intensity values. It is another measure of the magnitude of the image values. This feature is volume-confounded, a larger value of c increases the effect of volume-confounding.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="standardDeviationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Standard Deviation measures the amount of variation or dispersion from the Mean Value.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="skewnessFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Skewness measures the asymmetry of the distribution of values about the Mean value. Depending on where the tail is elongated and the mass of the distribution is concentrated, this value can be positive or negative. Related links: https://en.wikipedia.org/wiki/Skewness In case of a flat region, the standard deviation and 4rd central moment will be both 0. In this case, a value of 0 is returned.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="kurtosisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Kurtosis is a measure of the ‘peakedness’ of the distribution of values in the image ROI. A higher kurtosis implies that the mass of the distribution is concentrated towards the tail(s) rather than towards the mean. A lower kurtosis implies the reverse: that the mass of the distribution is concentrated towards a spike near the Mean value. Related links: https://en.wikipedia.org/wiki/Kurtosis In case of a flat region, the standard deviation and 4rd central moment will be both 0. In this case, a value of 0 is returned.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="varianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Variance is the the mean of the squared distances of each intensity value from the Mean value. This is a measure of the spread of the distribution about the mean.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="uniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Uniformity is a measure of the sum of the squares of each intensity value. This is a measure of the heterogeneity of the image array, where a greater uniformity implies a greater heterogeneity or a greater range of discrete intensity values. Defined by IBSI as Intensity Histogram Uniformity.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="shape">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="volumeFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>The volume of the ROI is approximated by multiplying the number of voxels in the ROI by the volume of a single voxel.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="surfaceAreaFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Surface Area is an approximation of the surface of the ROI in mm2, calculated using a marching cubes algorithm.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="surfaceVolumeRatioFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Here, a lower value indicates a more compact (sphere-like) shape. This feature is not dimensionless, and is therefore (partly) dependent on the volume of the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sphericityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Sphericity is a measure of the roundness of the shape of the tumor region relative to a sphere. It is a dimensionless measure, independent of scale and orientation. The value range is greater than 0 and less than or equal to 1, where a value of 1 indicates a perfect sphere (a sphere has the smallest possible surface area for a given volume, compared to other solids).
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="compactness1FeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Similar to Sphericity, Compactness 1 is a measure of how compact the shape of the tumor is relative to a sphere (most compact). It is therefore correlated to Sphericity and redundant.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="compactness2FeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Similar to Sphericity and Compactness 1, Compactness 2 is a measure of how compact the shape of the tumor is relative to a sphere (most compact). It is a dimensionless measure, independent of scale and orientation.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sphericalDisproportionFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Spherical Disproportion is the ratio of the surface area of the tumor region to the surface area of a sphere with the same volume as the tumor region, and by definition, the inverse of Sphericity. Therefore, the value range is spherical disproportion greater than or equal to 1, with a value of 1 indicating a perfect sphere.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="maximum3DDiameterFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Maximum 3D diameter is defined as the largest pairwise Euclidean distance between surface voxels in the ROI. Also known as Feret Diameter.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="maximum2DDiameterSliceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Maximum 2D diameter (Slice) is defined as the largest pairwise Euclidean distance between tumor surface voxels in the row-column (generally the axial) plane.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="maximum2DDiameterColumnFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Maximum 2D diameter (Column) is defined as the largest pairwise Euclidean distance between tumor surface voxels in the row-slice (usually the coronal) plane.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="maximum2DDiameterRowFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Maximum 2D diameter (Row) is defined as the largest pairwise Euclidean distance between tumor surface voxels in the column-slice (usually the sagittal) plane.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="majorAxisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="minorAxisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="leastAxisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="elongationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Elongation is calculated using its implementation in SimpleITK. The values range between 1 (where the cross section through the first and second largest principal moments is circle-like (non-elongated)) and 0 (where the object is a single point or 1 dimensional line).
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="flatnessFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Flatness is calculated using its implementation in SimpleITK. The values range between 1 (non-flat, sphere-like) and 0 (a flat object).
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="glcm">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="autocorrelationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Autocorrelation is a measure of the magnitude of the fineness and coarseness of texture.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jointAverageFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="clusterProminenceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Cluster Prominence is a measure of the skewness and asymmetry of the GLCM. A higher values implies more asymmetry about the mean while a lower value indicates a peak near the mean value and less variation about the mean.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="clusterShadeFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Cluster Shade is a measure of the skewness and uniformity of the GLCM. A higher cluster shade implies greater asymmetry about the mean.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="clusterTendencyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Cluster Tendency is a measure of groupings of voxels with similar gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="contrastFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Contrast is a measure of the local intensity variation, favoring values away from the diagonal. A larger value correlates with a greater disparity in intensity values among neighboring voxels.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="correlationFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Correlation is a value between 0 (uncorrelated) and 1 (perfectly correlated) showing the linear dependency of gray level values to their respective voxels in the GLCM.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="differenceAverageFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Difference Average measures the relationship between occurrences of pairs with similar intensity values and occurrences of pairs with differing intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="differenceEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Difference Entropy is a measure of the randomness/variability in neighborhood intensity value differences.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="differenceVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Difference Variance is a measure of heterogeneity that places higher weights on differing intensity level pairs that deviate more from the mean.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jointEnergyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Energy is a measure of homogeneous patterns in the image. A greater Energy implies that there are more instances of intensity value pairs in the image that neighbor each other at higher frequencies. Defined by IBSI as Angular Second Moment.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="jointEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Joint entropy is a measure of the randomness/variability in neighborhood intensity values. Defined by IBSI as Joint entropy.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="imc1FeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="imc2FeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="idmFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>IDM (a.k.a Homogeneity 2) is a measure of the local homogeneity of an image. IDM weights are the inverse of the Contrast weights (decreasing exponentially from the diagonal in the GLCM).
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="idmnFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>IDMN (inverse difference moment normalized) is a measure of the local homogeneity of an image. IDMN weights are the inverse of the Contrast weights (decreasing exponentially from the diagonal in the GLCM). Unlike Homogeneity2, IDMN normalizes the square of the difference between neighboring intensity values by dividing over the square of the total number of discrete intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="idFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>ID (a.k.a. Homogeneity 1) is another measure of the local homogeneity of an image. With more uniform gray levels, the denominator will remain low, resulting in a higher overall value.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="idnFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>IDN (inverse difference normalized) is another measure of the local homogeneity of an image. Unlike Homogeneity1, IDN normalizes the difference between the neighboring intensity values by dividing over the total number of discrete intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="inverseVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="maximumProbabilityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Maximum Probability is occurrences of the most predominant pair of neighboring intensity values. Defined by IBSI as Joint maximum.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sumAverageFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Sum Average measures the relationship between occurrences of pairs with lower intensity values and occurrences of pairs with higher intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sumEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Sum Entropy is a sum of neighborhood intensity value differences.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sumSquaresFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Sum of Squares or Variance is a measure in the distribution of neigboring intensity level pairs about the mean intensity level in the GLCM. Defined by IBSI as Joint Variance.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="smallAreaEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SAE is a measure of the distribution of small size zones, with a greater value indicative of more smaller size zones and more fine textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeAreaEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LAE is a measure of the distribution of large area size zones, with a greater value indicative of more larger size zones and more coarse textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLN measures the variability of gray-level intensity values in the image, with a lower value indicating more homogeneity in intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelNonUniformityNormalizedFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLNN measures the variability of gray-level intensity values in the image, with a lower value indicating a greater similarity in intensity values. This is the normalized version of the GLN formula.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sizeZoneNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SZN measures the variability of size zone volumes in the image, with a lower value indicating more homogeneity in size zone volumes.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="sizeZoneNonUniformityNormalizedFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SZNN measures the variability of size zone volumes throughout the image, with a lower value indicating more homogeneity among zone size volumes in the image. This is the normalized version of the SZN formula.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zonePercentageFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>ZP measures the coarseness of the texture by taking the ratio of number of zones and number of voxels in the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLV measures the variance in gray level intensities for the zones.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zoneVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>ZV measures the variance in zone size volumes for the zones.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="zoneEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>ZE measures the uncertainty/randomness in the distribution of zone sizes and gray levels. A higher value indicates more heterogeneneity in the texture patterns.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="lowGrayLevelZoneEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LGLZE measures the distribution of lower gray-level size zones, with a higher value indicating a greater proportion of lower gray-level values and size zones in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="highGrayLevelZoneEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>HGLZE measures the distribution of the higher gray-level values, with a higher value indicating a greater proportion of higher gray-level values and size zones in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="smallAreaLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SALGLE measures the proportion in the image of the joint distribution of smaller size zones with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="smallAreaHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SAHGLE measures the proportion in the image of the joint distribution of smaller size zones with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeAreaLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LALGLE measures the proportion in the image of the joint distribution of larger size zones with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeAreaHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LAHGLE measures the proportion in the image of the joint distribution of larger size zones with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="glrlm">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="shortRunEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SRE is a measure of the distribution of short run lengths, with a greater value indicative of shorter run lengths and more fine textural textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="longRunEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LRE is a measure of the distribution of long run lengths, with a greater value indicative of longer run lengths and more coarse structural textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLN measures the similarity of gray-level intensity values in the image, where a lower GLN value correlates with a greater similarity in intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelNonUniformityNormalizedFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLNN measures the similarity of gray-level intensity values in the image, where a lower GLNN value correlates with a greater similarity in intensity values. This is the normalized version of the GLN formula.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="runLengthNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RLN measures the similarity of run lengths throughout the image, with a lower value indicating more homogeneity among run lengths in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="runLengthNonUniformityNormalizedFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RLNN measures the similarity of run lengths throughout the image, with a lower value indicating more homogeneity among run lengths in the image. This is the normalized version of the RLN formula.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="runPercentageFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RP measures the coarseness of the texture by taking the ratio of number of runs and number of voxels in the ROI.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>GLV measures the variance in gray level intensity for the runs.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="runVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RV is a measure of the variance in runs for the run lengths.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="runEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>RE measures the uncertainty/randomness in the distribution of run lengths and gray levels. A higher value indicates more heterogeneity in the texture patterns.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="lowGrayLevelRunEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LGLRE measures the distribution of low gray-level values, with a higher value indicating a greater concentration of low gray-level values in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="highGrayLevelRunEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>HGLRE measures the distribution of the higher gray-level values, with a higher value indicating a greater concentration of high gray-level values in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="shortRunLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SRLGLE measures the joint distribution of shorter run lengths with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="shortRunHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>SRHGLE measures the joint distribution of shorter run lengths with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="longRunLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LRLGLRE measures the joint distribution of long run lengths with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="longRunHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>LRHGLRE measures the joint distribution of long run lengths with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ngtdm">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="coarsenessFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Coarseness is a measure of average difference between the center voxel and its neighbourhood and is an indication of the spatial rate of change. A higher value indicates a lower spatial change rate and a locally more uniform texture.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="contrastFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Contrast is a measure of the spatial intensity change, but is also dependent on the overall gray level dynamic range. Contrast is high when both the dynamic range and the spatial change rate are high, i.e. an image with a large range of gray levels, with large changes between voxels and their neighbourhood.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="busynessFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>A measure of the change from a pixel to its neighbour. A high value for busyness indicates a ‘busy’ image, with rapid changes of intensity between pixels and its neighbourhood.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="complexityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>An image is considered complex when there are many primitive components in the image, i.e. the image is non-uniform and there are many rapid changes in gray level intensity.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="strengthFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Strenght is a measure of the primitives in an image. Its value is high when the primitives are easily defined and visible, i.e. an image with slow change in intensity but more large coarse differences in gray level intensities.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="gldm">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="smallDependenceEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>A measure of the distribution of small dependencies, with a greater value indicative of smaller dependence and less homogeneous textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeDependenceEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>A measure of the distribution of large dependencies, with a greater value indicative of larger dependence and more homogeneous textures.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the similarity of gray-level intensity values in the image, where a lower GLN value correlates with a greater similarity in intensity values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dependenceNonUniformityFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the similarity of dependence throughout the image, with a lower value indicating more homogeneity among dependencies in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dependenceNonUniformityNormalizedFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the similarity of dependence throughout the image, with a lower value indicating more homogeneity among dependencies in the image. This is the normalized version of the DLN formula.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="grayLevelVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the variance in grey level in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dependenceVarianceFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the variance in dependence size in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="dependenceEntropyFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
								</xs:element>
								<xs:element name="lowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the distribution of low gray-level values, with a higher value indicating a greater concentration of low gray-level values in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="highGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the distribution of the higher gray-level values, with a higher value indicating a greater concentration of high gray-level values in the image.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="smallDependenceLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the joint distribution of small dependence with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="smallDependenceHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the joint distribution of small dependence with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeDependenceLowGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the joint distribution of large dependence with lower gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="largeDependenceHighGrayLevelEmphasisFeatureValue" type="xs:double" minOccurs="0" maxOccurs="1">
									<xs:annotation>
										<xs:documentation>Measures the joint distribution of large dependence with higher gray-level values.
										</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
    </xs:complexType>
</xs:schema>
